service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    setenv LD_PRELOAD /system/lib64/libselinux_stubs.so
    class core
    user system
    group system readproc
    writepid /dev/cpuset/system-background/tasks
    shutdown critical
    override
